h1{
	color: white; 
	text-align: center; 
}

h2{
	color: white; 
	text-align: center; 
	font-size: 20px; 
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 50%;
}

p.bold{
	font-style: bold; 
	font-size: 15px; 
}

body {
	font-family: Verdana, Helvetica, sans-serif;
   	background-image: url('blogBack.jpg');
   	background-size: cover; 
   	background-position: center;
   	background-repeat: no-repeat;
<<<<<<< HEAD
}

.title {
	font-weight: bold;
}

.blog-container {
	border: solid 2px white;
	background-color: white;
=======
>>>>>>> parent of 5b711d2... post and show all working
}